
//test
$defaultColorText: #73879C;
$defaultColorTitle: #5A738E;
$defaultColorLink: #5A738E;
$menuColorLink: #E7E7E7;


//color

//bg
$defaultBg: #F7F7F7;
$defaultHoverBg: #D9DEE4;
$sideBarBg: #2A3F54;
$topMenuBg: #EDEDED;
$white: #ffffff;

//border
$defaultBorderColor: #D9DEE4;
$panelBorderColor: #E6E9ED;

//icon
$iconColor: #C4CFDA;
