
//test
$defaultColorText: #73879C;
$defaultColorTitle: #5A738E;
$defaultColorLink: #5A738E;


//color

//bg
$defaultBg: #F7F7F7;
$defaultHoverBg: #D9DEE4;
$sideBarBg: #2A3F54;
$topMenuBg: #EDEDED;

//border
$defaultBorderColor: #D9DEE4;

//icon
$iconColor: #C4CFDA;
