<header class="header">
  <div class="nav toggle">
    <a>
      <i class="material-icons">menu</i>
    </a>
  </div>
  <nav class="top-nav">
    <ul class="nav navbar-right">
      <li>
        <a href="" class="dropdown-toggle message">
          <i class="material-icons">mail_outline</i>
          <span>9</span>
        </a>

      </li>
      <li>
        <a href="" class="dropdown-toggle user-profile">
          <span class="img-container">
            <img src="/assets/images/user-icon.png" alt="user icon">
          </span>
          Lyubchenko Vladimir
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          <li>
            <a href=""> Profile</a>
          </li>
          <li>
            <a href="">Settings</a>
          </li>
          <li>
            <a href="">Help</a>
          </li>
          <li>
            <i class="fa fa-sign-out pull-right"></i>
            Log Out
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
