<nav class="main-menu">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let categoryMenu of mainMap">
      <mat-expansion-panel-header class="menu-panel-header">
        <mat-panel-title>
          <i class="material-icons">
            {{categoryMenu.imgIcon}}
          </i>
          {{categoryMenu.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ul class="list-links" *ngIf="categoryMenu.items?.length">
        <li *ngFor="let item of categoryMenu.items">
          <a [routerLink]="createRouterLink(categoryMenu, item)" routerLinkActive="active">{{item.title}}</a>
        </li>
      </ul>

    </mat-expansion-panel>
  </mat-accordion>
</nav>
