<app-panel [title]="'Default table'" [subtitle]="'sub-title'">
  <ul>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
    <li><span>test</span></li>
  </ul>
</app-panel>
